*,
*:after,
*:before {
  box-sizing:border-box;
  outline: none;
}

html {
  @extend %cover;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  position: fixed;
  overflow: hidden;


  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
	@extend %description-16;
  @extend %cover;

	font-family: $font-suisse-bp;
  position: fixed;


  @include media('<=phone') {
    font-size: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

.content {
  @extend %cover;
}
